'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Gz Opener'
      'submenu': [
        {
          'label': 'Decompress File'
          'command': 'gz-opener:decompress'
        }
      ]
    ]
  }
]
